/* Write your CSS code here */
.not-found-container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
  height: 250px;
  width: 250px;
}
.not-found {
  font-size: 32px;
  color: #6d396b;
  font-weight: bold;
}
