/* Write your CSS code here */
.about-container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-image {
  height: 220px;
  width: 180px;
}
.about {
  font-size: 32px;
  color: #551e53;
  font-weight: bold;
}
