/* Write your CSS code here */
.contact-container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-image {
  height: 180px;
  width: 200px;
}
.contact {
  font-size: 32px;
  color: #551e53;
  font-weight: bold;
}
